@{
    ViewData["Title"] = "Exception";
}
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1>You tried to input invalid email.</h1>
    @Html.ActionLink("Try again", "Index")
</div>